<h2>Liste des annonces :</h2>
<div class="annonce-list">
    <div class="annonce-card" hx-get="annonce-detail1.html" hx-target="#main-content" hx-swap="innerHTML">
        <img src="img-user1.jpg" alt="Photo">
        <div>
            <strong>Data analyst / scientist</strong><br>
            20 € / heure<br>
            Évry-Courcouronnes 91000 Évry<br>
            28/11/2024
        </div>
    </div>

    <div class="annonce-card" hx-get="annonce-detail2.html" hx-target="#main-content" hx-swap="innerHTML">
        <img src="img-user2.jpg" alt="Photo">
        <div>
            <strong>Conseil gestionnaire de patrimoine</strong><br>
            80 € / heure<br>
            Brétigny-sur-Orge 91220<br>
            25/11/2024
        </div>
    </div>

    <div class="annonce-card" hx-get="annonce-detail3.html" hx-target="#main-content" hx-swap="innerHTML">
        <img src="img-user3.jpg" alt="Photo">
        <div>
            <strong>Formation en Marketing digital</strong><br>
            50 € / heure<br>
            Paris 75010<br>
            22/11/2024
        </div>
    </div>

    <div class="annonce-card" hx-get="annonce-detail4.html" hx-target="#main-content" hx-swap="innerHTML">
        <img src="img-user4.jpg" alt="Photo">
        <div>
            <strong>Coaching développement personnel</strong><br>
            60 € / heure<br>
            Lyon 69002<br>
            20/11/2024
        </div>
    </div>
</div>
