<h2>Détails de l'annonce "Data analyst / scientist"</h2>
<div class="annonce-detail">
    <div class="image-profil">
        <img src="img-user1.jpg" alt="Photo de profil">
    </div>
    <div class="side-info">
        <p><strong>20 € / heure</strong><br>28/11/2024 à 10:05</p>
        <h3>Marina</h3>
        <ul>
            <li>Dernière activité il y a 2 heures</li>
            <li>Répond à 95% des messages</li>
            <li>Répond en moyenne en 2 h</li>
        </ul>
        <button>Envoyer un message</button>
    </div>
</div>
<section class="description">
    <h3>Description</h3>
    <p>Je propose mes services de data analyst et data scientist pour vous aider à interpréter vos données, créer des modèles prédictifs, etc.</p>
    <a href="#">Voir plus</a>
</section>
