{% extends "home.html" %}

{% block title %}Mentorlink - Déposer une annonce{% endblock %}

{% block content %}
    
    <h2>Déposez votre annonce :</h2>
    <div class="form-group">
        <label>Quel est le titre de l'annonce ?</label>
        <input type="text" name="titre" maxlength="200" />
        <small>0/200</small>
    </div>
    <div class="form-group">
        <label>Description de l'annonce</label>
        <textarea name="description" maxlength="4000"></textarea>
        <small>0/4000</small>
    </div>
    <div class="form-actions">
        <button>Publier l'annonce</button>
    </div>
    
{% endblock %}