{% extends "home.html" %}

{% block title %}Mentorlink - Messagerie{% endblock %}

{% block content %}

    <h2>Vos messages</h2>
    <div class="message-list">
        <div class="message-thread">
            <div class="message-sender">Mireille (Conseil gestionnaire de patrimoine)</div>
            <div class="message-preview">"Bonjour, je suis intéressée par votre annonce..."</div>
        </div>
        <div class="message-thread">
            <div class="message-sender">Jean-Marc (Coaching développement personnel)</div>
            <div class="message-preview">"Pouvez-vous me donner plus de détails sur..."</div>
        </div>
        <div class="message-thread">
            <div class="message-sender">Sophie (Formation en Marketing digital)</div>
            <div class="message-preview">"Merci pour votre dernière réponse, j'aurais besoin..."</div>
        </div>
        <div class="message-thread">
            <div class="message-sender">David (Data analyst / scientist)</div>
            <div class="message-preview">"J'ai une question à propos de votre disponibilité..."</div>
        </div>
    </div>
    
{% endblock %}