{% extends "home.html" %}

{% block title %}Mentorlink - Liste des annonces{% endblock %}

{% block content %}

<h2>Informations de compte</h2>
<section>
    <h3>Informations de compte</h3>
    
    <form method="post">
        {% csrf_token %}
        
        <div>
            <label for="id_civilite">Civilité :</label>
            <select id="id_civilite" name="civilite">
                <option value="Homme" {% if user.civilite == "Homme" %}selected{% endif %}>Homme</option>
                <option value="Femme" {% if user.civilite == "Femme" %}selected{% endif %}>Femme</option>
                <option value="Autre" {% if user.civilite == "Autre" %}selected{% endif %}>Autre</option>
            </select>
        </div>
        
        <div class="form-group">
            <label>Nom *</label>
            <input type="text" name="nom" value="{{ user.last_name }}">
        </div>
        
        <div class="form-group">
            <label>Prénom *</label>
            <input type="text" name="prenom" value="{{ user.first_name }}">
        </div>
        
        <div class="form-group">
            <label>Date de naissance*</label>
            <input type="date" name="date_naissance" value="{{ user.date_naissance|date:'Y-m-d' }}">
        </div>
        
        <h3>Adresse</h3>
        <div class="form-group">
            <label>Adresse *</label>
            <input type="text" name="adresse" value="{{ user.adresse }}">
        </div>
        
        <h3>E-mail</h3>
        <div class="form-group">
            <label>E-mail *</label>
            <input type="text" name="email" value="{{ user.email }}">
        </div>
        
        <div class="form-actions">
            <button type="submit">Enregistrer les modifications</button>
        </div>
    </form>
</section>
    
{% endblock %}