{% extends "home_nonconnecte.html" %}

{% block title %}Mentorlink - Liste des annonces{% endblock %}

{% block content %}

<h2>Sign up</h2>
<form
  hx-post="{% url 'signup' %}"
  hx-target="#htmx-content"
  hx-swap="innerHTML"
  method="POST"
>
  {% csrf_token %}
  <div>
    <label for="id_email">Adresse email *</label>
    <input type="email" name="email" id="id_email" required>
  </div>
  <div>
    <label for="id_password">Mot de passe *</label>
    <input type="password" name="password" id="id_password" required>
  </div>
  <!-- Vous pouvez ajouter d’autres champs, comme prénom/nom, etc. -->
  <button type="submit">S’inscrire</button>
</form>

{% endblock %}